  <div class="h4 my-4">コメント(<%= post.comments.count %>)</div>
  <% post.comments.each do |comment| %>
    <div class="mb-3 row justify-content-between align-items-center w-100 border-bottom">
      <div class="col-12 col-lg-4 px-0">
        <!--ユーザーページへのリンク-->
        <%= link_to user_path(comment.user_id), class:"text-dark text-decoration-none" do %>
          <%= image_tag comment.user.get_profile_image(50,50),class:"rounded-circle" %><span class="ml-1 text-black comment-user"><%= comment.user.name %></span>
        <% end %>
      </div>
      <div class="col-9 col-lg-6" id="post-comments">
        <div class="pr-1 "><%= comment.comment %></div>
        <div>（<%= comment.created_at.to_s(:datetime_jp) %>）</div>
      </div>
      <div class="col-3 col-lg-2 text-center px-0">
      <!--ユーザーがログインしているか？-->
      <% if user_signed_in? %>
        <!--userのIDとコメントに関連付けされているuserIDが一致したら削除ボタン表示-->
        <% if current_user.id == comment.user_id %>
          <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete, data: {confirm: "コメントを削除しますか？"}, remote: true, class:"btn btn-sm btn-danger mr-2" %>
        <% end %>
      <% end %>
      <!--管理者がログインしている場合削除ボタン表示-->
      <% if admin_signed_in? %>
          <%= link_to "削除", admin_post_comment_path(comment.post, comment), method: :delete, data: {confirm: "コメントを管理者削除しますか？"}, remote: true, class:"btn btn-sm btn-danger mr-2" %>
      <% end %>
      
      </div>
    </div>
  <% end %>