<div class="container">
    <div class="mt-4 h1 midashi">新規登録</div>
  
  <div class="col-12 mt-3 mx-auto ">
    <%= form_with model: @user, url: user_registration_path ,local: true do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>
    
      <!--メールアドレス入力欄-->
      <div id="new-form" class="bg-alice border rounded p-3 pl-3">
        <div class="form-group field pt-4">
          <%= f.label :email, "メールアドレス" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"col-sm-12 col-md-8 form-control" %>
        </div>
        
        <!--名前入力欄-->
        <div class="mx-auto form-group field">
          <%= f.label :name, "ユーザー名" %>
          <%= f.text_field :name, class:"col-10 col-md-4 form-control" %>
        </div>
      
        <!--パスワード入力欄-->
        <div class="form-group field">
          <% if @minimum_password_length %>
          <%= f.label :password, "パスワード(#{@minimum_password_length}文字以上)" %>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", class:"col-7 col-md-4 form-control" %>
        </div>
        
        <!--パスワード確認-->
        <div class="form-group field">
          <%= f.label :password_confirmation, "パスワード確認" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"col-7 col-md-4 form-control" %>
        </div>
        <!--ボタン-->
        <div class="text-right">
          <button id="next-btn" type="button" class="btn btn-primary">プロフィール設定</button>
          <%= f.submit "登録する",class:"btn btn-success"%>
        </div>
      </div>
      
      <!--ログインフォームへの遷移用-->
      <div class="d-inline-block border rounded col-10 col-md-6 my-3 p-3 text-center float-right">
        <span class="align-middle mr-3">アカウントをお持ちの方は</span><%= render "public/shared/links" %>
      </div>

  </div>


  <!--詳細設定メニュー（モーダル）-->
  <div class="profileMenu-back">
    <div class="profileMenu">
      <div id="close-btn">
        <a class="btn btn-border">✖</a>
      </div>
      
      <div class="h3 font-weight-bold">詳細設定</div>
      <div class="h6 mb-4">※アカウント登録後の設定も可能です。</div>
      
      <div class="form-group field">
        <%= f.label :introduction, "自己紹介文", class:"font-weight-bold pl-0 col-8" %>
        <%= f.text_area :introduction, placeholder:"ここに自己紹介文をいれてください",class:"col-12 col-md-10 form-control mx-auto",rows:"5" %>
      </div>
      
      <div class="form-group field ">
        <%= f.label :profile_image, "プロフィール画像", class:"font-weight-bold pl-0 col-8" %>
        <div><%= f.file_field :profile_image, accept: "image/*" %></div>
      </div>
        <div id="img-prev"></div>
        <div class="row"><%= f.submit "登録する",class:"btn btn-lg btn-success", id:"sub-btn"%></div>
    </div>
    
  </div>
  <% end %>
</div>

<script>
 // プレビュー画像表示用
  document.addEventListener('DOMContentLoaded', () => {
      const createImageHTML = (blob) => {  
      const imageElement = document.getElementById('img-prev'); 
      const blobImage = document.createElement('img'); 
      blobImage.setAttribute('class', 'new-img');
      blobImage.setAttribute('src', blob); 
      imageElement.appendChild(blobImage);
    }; 
    document.getElementById('user_profile_image').addEventListener('change', (e) =>{
      const imageContent = document.querySelector('img'); 
      if (imageContent){ 
        imageContent.remove(); 
      }
      
      const file = e.target.files[0];  
      const blob = window.URL.createObjectURL(file); 
      createImageHTML(blob); 
    });
  });
  
  // 枠外クリックで非表示に
  $(document).on('click', function(e) {
	//クリックされた場所の判定
	if(!$(e.target).closest('.profileMenu').length && !$(e.target).closest('#next-btn').length){
		$('.profileMenu-back').fadeOut();
	}else if($(e.target).closest('#next-btn').length){
		// ３．ポップアップの表示状態の判定
		if($('.profileMenu-back').is(':hidden')){
			$('.profileMenu-back').fadeIn();
		}else{
			$('.profileMenu-back').fadeOut();
		}
	}else if($(e.target).closest('#close-btn').length){
		if($('.profileMenu-back').is(':visible')){
			$('.profileMenu-back').fadeOut();
		}
	}
});
  
</script>