<!DOCTYPE html>
<html>
  <head>
    <title>Photravel</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= include_gon %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'shared/flash_message' %>
    <div class="mt-2 mb-auto">
      <%= yield %>
    </div>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY']%>&callback=initMap" async defer></script> 
    <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
  </body>
</html>
