<!DOCTYPE html>
<html>
  <head>
    <title>Photravel</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= include_gon %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--HPファビコン-->
    <%= favicon_link_tag('favicon.ico') %>
    <!--Fontawesomeアニメーション用-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.2.1/font-awesome-animation.css" type="text/css" media="all" />
    <!--Fontawesome-->
    <script src="https://kit.fontawesome.com/<%= ENV['FONTAWESOME_KEY'] %>.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <!--ヘッダー-->
    <!--URLにshow_detailが含まれるときはヘッダーを表示しない-->
    <% unless request.fullpath.include? "/show_detail" %>
      <%= render 'layouts/header' %>
    <% end %>
    <!--フラッシュメッセージ呼び出し-->
      <%= render 'shared/flash_message' %>
      <main class="mt-2">
        <%= yield %>
      </main>
    
    <!--GoogleMapAPI呼び出し-->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY']%>&callback=initMap" async defer></script> 
    <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
    <!--フラッシュメッセージの表示時間指定-->
    <script>
      $(function(){
        setTimeout("$('.notice-flash').fadeOut('slow')", 2000);
      });
      $(function(){
        setTimeout("$('.alert-flash').fadeOut('slow')", 2000);
      });
    </script>
    
  </body>
  
</html>
